// This file contains patterns that are re-used in different parts of the
// stylesheet.

//		TOC
// 1. Miscellaneous
// 2. Content


//	Miscellaneous
// Various styles that are not bound to a specific purpose
//
%action-link {
	font-weight: 500;
	letter-spacing: .1em;
	padding-left: .1em;
	text-transform: uppercase;
}

// 	Content
// These are mostly used by elements that occur inside the main <article> tag
// 
%block-level {
	padding-bottom: 3.75rem;
	max-width: rem(740);
	margin: 0 auto;
}

// All block-level elements that need spacing in articles, etc
$all-block-level-elements: p, blockquote, figure, ul, ol, pre, h1, h2, h3, h4, h5, h6;

%aside-content { // Using Crimson Text:600italic as italic font, since Source Serif has no italics yet (https://github.com/adobe-fonts/source-serif-pro/issues/2)
	font-family: $alt_font;
	font-style: italic;
	font-weight: 600;
}
