footer, .home {
	text-align: center;
}

footer {
	padding: 5em 0;
	border-top: rem(4) solid lighten($accent, 10%);

	p {
		@extend %block-level;

		font-size: rem(13);
		padding-bottom: 1.25rem;
		color: lighten($grey, 25%);

		&.copyright {
			font-size: rem(15)
		}
	}

	.links a {
		padding: 0 1rem;
		font-size: 0;
		background: transparent;
	}
}
