body > header {
	padding: 7.5rem em(20);
	text-align: center;

	a {
		color: lighten($grey, 25%);
		padding: 0 .25em .25em .25em;
	}
}

.icon {
	@include size(rem(24));
}

.email {
	li:before {
		content: " ";
	}

	li:first-of-type {
		font-size: 1.25em;
	}

	li:last-of-type {
		font-size: .85em;
		color: lighten($grey, 25%);
	}

	span {
		font-family: $monospace;
	}
}
