body > header {
	padding: 7.5rem em(20);
	text-align: center;

	a {
		color: lighten($grey, 25%);
		padding: 0 .25em .25em .25em;
	}
}

.page {
	.email {
		font-size: 1.25em;
		font-weight: 500;
	}

	.pgp {
		font-size: .85em;

		span {
			font-family: $monospace;
		}
	}
}
