p, li, figcaption {
	color: lighten($grey, 15%);
	line-height: 2em;
	font-size: rem(19);
}

article {
	padding: 0 em(20);
	margin-bottom: 2rem;

	&.small {
		@extend %block-level;

		&:before {
			content: "\2014 ";
			color: lighten($grey, 45%);
		}

		&:last-of-type {
			padding-bottom: 7rem;
		}

		time {
			color: lighten($grey, 45%);
			padding-left: .5em;
		}

		a {
			border-width: 0;
		}

		.title {
			padding-left: .5em;
		}
	}

	header {
		text-align: center;
		padding-bottom: 7.5rem;

		h1 {
			font-size: 2.5rem;
			font-weight: 400;
			padding: 0;
			max-width: none;
			line-height: 2em;

			a {
				padding: 0 .5em;
				background: transparent;
				color: $grey;
			}
		}

		p {
			@extend %aside-content;

			color: lighten($grey, 45%);
			padding-bottom: 0;
		}
	}

	p {
		font-size: rem(19);
		max-width: rem(720);

		&.note {
			@extend %aside-content;

			color: lighten($grey, 45%);
			text-align: center;
		}

		&.continue a {
			@extend %action-link;

			font-size: em(12, 19);
		}
	}

	a {
		color: lighten($grey, 20%);
	}

	blockquote {
		&, & p {
			max-width: rem($wide-element-width);
		}

		p {
			@extend %aside-content;

			padding: 0;
			font-size: 2em;
			color: lighten($grey, 45%);
		}
	}

	cite {
		display: block;
		font-size: 0.5em;
		text-align: left;
		word-spacing: .25em;

		&:before {
			content: "\2014 ";
		}
	}

	#{$all-block-level-elements} {
		@extend %block-level;
	}

	> p:last-of-type {
		padding-bottom: 7.5em;
	}

	figure {
		max-width: rem($wide-element-width);
		
		img {
			max-width: 100%;
		}
	}

	figcaption {
		text-align: center;
		color: lighten($grey, 45%);
	}

	code, pre {
		font-family: $monospace;
		font-size: rem(14);
	}

	pre {
		line-height: 1.5rem;
		overflow-x: auto;
	}

	ol, ul {
		padding-left: 1.5em;

		ol, ul {
			padding-bottom: .5em;
		}
	}

	ol {
		counter-reset: ol-counter;

		li {
			counter-increment: ol-counter;

			&:before {
				content: counter(ol-counter) ".";
			}
		}

		ol li:before {
			content: counter(ol-counter, lower-latin) ".";
		}
	}

	li:before {
		display: inline-block;
		min-width: rem(15);
		padding-right: .5em;
		color: lighten($grey, 45%);
		text-align: right;
	}

	ul li:before {
		content: "-";
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;

		&:hover {
			cursor: default;
		}

		code {
			font-weight: 400;
		}
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.6rem;
	}

	h5 {
		font-size: 1.4rem;
	}

	h6 {
		font-size: 1.25rem;
	}

	:target {
		padding-top: .5em;

		&:before {
			content: " ";
			padding-right: .5em;
			border-left: rem(4) solid lighten($accent, 50%);
		}
	}

	sup, sub {
		font-size: .75em;
	}

	sup {
		vertical-align: super;
	}

	sub {
		vertical-align: sub;
	}

	em {
		@extend %aside-content;
		font-size: 1.1em;
	}

	strong {
		font-weight: 700;
	}
}

main nav {
	text-align: center;

	p {
		@extend %block-level;
	}

	span { // Used for layouting
		@include clearfix();
	}

	.prev, .next {
		display: block;
		background: transparent;

		&:before {
			display: block;
			font-size: .75em;
			font-weight: 700;
			color: lighten($grey, 45%);
		}
	}

	.next {
		text-align: left;
		float: left;

		&:before {
			content: "NEXT";
		}
	}

	.prev {
		text-align: right;
		float: right;

		&:before {
			content: "PREVIOUS";
		}
	}

	.index {
		@extend %action-link;

		display: inline-block;
		padding-top: 2rem;
		font-size: rem(15);
	}
}
