//	A css reset.
//	See: https://github.com/elomatreb/tools
//	License: Public Domain
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
// HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
picture, footer, header, hgroup, menu, nav, main, section {
	display: block;
}
body {
	line-height: 1;
	overflow-y: scroll;
	font-kerning: auto;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "kern", "liga", "dlig";
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}
