//	A css reset.
//	See: https://github.com/elomatreb/tools
//	License: Public Domain
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
picture, footer, header, hgroup, menu, nav, main, section {
	display: block;
}

body {
	color: $grey;
	font-family: $main_font;
	line-height: 1;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	text-rendering: optimizeLegibility;
	@include font-feature-settings("kern", "liga", "dlig");
}

a {
	line-height: 1.618em;
	text-decoration: none;
	color: inherit;
	@include background-image(
		linear-gradient(rgba($accent, .5), rgba($accent, .5))
	);
	background-size: 1px 1px;
	background-repeat: repeat-x;
	background-position: 0 100%;
	overflow-y: visible;

	&, & svg {
		@include transition-property(color, text-shadow, fill);
		@include transition-duration(.15s);
		@include transition-timing-function(ease-in-out);
	}

	&:hover {
		color: $grey;

		svg {
			fill: $accent;
		}
	}

	&:active {
		color: transparent;
		@include transition-duration(0);
		text-shadow: 0 0 2px rgba($grey, .75);

		svg {
			fill: darken($accent, 15%);
		}
	}
}
