$main_font: "Source Serif Pro", Georgia, serif;
$alt_font: "Crimson Text", Georgia, serif;
$logo_font: Lora, $alt_font;
$monospace: "Source Code Pro", Consolas, monospace;

$accent: #0e407b;
$grey: #222;
