---
---
$sans-serif: "Fira Sans", sans-serif;
$serif: Lora, Georgia, serif;

$accent: #0e407b;
$grey: #222;

/*!

Source: https://github.com/elomatreb/website

*/

@import "bourbon/bourbon", "reset", "syntax_theme";

html, body, .home {
	@include size(100%);
	position: relative;
}

body {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: $sans-serif;
	color: $grey;
}

a {
	display: inline-block;
	line-height: 1.618em;
	text-decoration: none;
	color: inherit;
	border-bottom: rem(1) solid rgba($accent, .5);

	@include transition-property(color, border-color);
	@include transition-duration(.15s);
	@include transition-timing-function(ease-in-out);

	&:hover, &:active {
		border-bottom-color: $accent;
		color: $grey;
	}

	&:active {
		@include transform(translateY(1px));
	}
}

body > header {
	padding: 7.5rem em(20);
	text-align: center;

	a {
		color: #fff;
		padding: 0 1em;
		border-width: 0;
		line-height: 2em;
		background-color: $accent;
		font-weight: 700;
		font-style: italic;
		font-size: rem(22);
		font-family: $serif;

		&:hover, &:active {
			color: lighten($accent, 50%);
		}
	}
}

.home {
	display: table;

	> div {
		display: table-cell;
		vertical-align: middle;

		> div {
			text-align: left;
			width: em(440);
			margin: 0 auto;
		}
	}

	h1, h2 {
		font-family: $serif;
		font-weight: bold;
		font-style: italic;
		line-height: 2rem;
	}

	h1 {
		font-size: rem(22);
	}

	h2 {
		font-size: rem(15);
		color: $accent;
	}

	span {
		color: lighten($grey, 30%)
	}

	ul {
		padding-top: .25rem;
		font-size: 0;
	}

	li {
		font-size: rem(11);
		display: inline-block;
		line-height: rem(22);

		&:after {
			content: "/";
			font-size: rem(9);
			margin-right: .5em;
			color: lighten($grey, 35%);
		}

		&:last-of-type:after {
			content: none;
			display: none;
		}

		a {
			text-transform: uppercase;
			letter-spacing: .1em;
			padding-left: .1em;
			margin-right: .5em;

			&:hover {
				color: $grey;
			}
		}
	}
}

.home, article, header {
	a {
		color: lighten($grey, 20%);
	}
}

article, header, footer p {
	max-width: em(760);
	margin: 0 auto;
}


p, li, figcaption {
	color: lighten($grey, 15%);
	line-height: 2em;
}

article {
	padding: 0 em(20);
	margin-bottom: 2rem;

	&.small {
		&:before {
			content: "— ";
			color: lighten($grey, 45%);
		}

		&:last-of-type {
			padding-bottom: 7rem;
		}

		time {
			color: lighten($grey, 45%);
			padding-left: .5em;
		}

		a {
			border-width: 0;
		}

		.title {
			padding-left: .5em;
		}
	}

	header {
		text-align: center;

		h1 {
			font-weight: 500;
			font-size: 2.5rem;

			a {
				padding: 0 .5em;
				border-width: 0;
			}

			&:hover:after {
				display: none;
			}
		}

		p {
			color: lighten($grey, 45%);
			font-style: italic;
		}
	}

	p {
		padding: 0 .5em;
		font-size: rem(19);

		&.note {
			font-style: italic;
			color: lighten($grey, 45%);
			text-align: center;
		}

		&.continue a {
			text-transform: uppercase;
			font-weight: 500;
			font-size: em(12, 19);
			letter-spacing: .1em;
			padding-left: .1em;
		}

		img {
			max-width: 100%;
		}
	}

	blockquote p {
		padding: 0;
		font-size: 2em;
		font-style: italic;
		color: lighten($grey, 45%);
	}

	p, blockquote, figure, ul, ol, .highlight, h1, h2, h3, h4, h5, h6 {
		padding-bottom: 3.75rem;
	}

	code, pre {
		font-family: monospace;
	}

	pre {
		line-height: 1.5rem;
		overflow-x: scroll;
	}

	.highlight code:before {
		content: attr(data-lang);
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		padding-left: 1em;
		margin-bottom: 1em;
		border-bottom: rem(2) solid $accent;
	}

	ol, ul {
		padding-left: 1em;
	}

	ul li {
		list-style: none;

		&:before {
			content: "-";
			padding-right: .5em;
			color: lighten($grey, 45%);
		}
	}

	h1, h2, h3, h4, h5, h6 {
		&:hover {
			cursor: default;
		}

		code {
			font-style: normal;
			font-weight: 400;
		}
	}

	h2, h3, h4 {
		font-weight: 500;
	}

	h2 {
		font-size: 2rem;
		font-weight: 700;
	}

	h3 {
		font-size: 1.75rem;
	}

	h4 {
		font-size: 1.5rem;
	}

	h5 {
		font-size: 1.5rem;
		font-weight: 500;
	}

	h6 {
		font-size: 1.25rem;
		font-weight: 500;
	}
}

.page {
	.email {
		font-size: 1.25em;
		font-weight: 500;
	}

	.pgp {
		font-size: .85em;

		span {
			font-family: monospace;
		}
	}
}

footer, .home {
	text-align: center;
}

footer {
	padding: 5em 0;
	border-top: rem(4) solid lighten($accent, 10%);

	p {
		font-size: rem(13);
		padding-bottom: 1.25rem;
		color: lighten($grey, 25%);

		&:first-of-type {
			font-size: rem(15)
		}
	}
}

@media print {
	pre {
		overflow: hidden;
		white-space: pre-wrap;
		page-break-inside: avoid;
	}

	body > header a {
		&:before {
			content: "From ";
		}

		&:after {
			content: ".eu"
		}
	}

	article, footer {
		p a {
			color: inherit;

			&:after {
				content: " (" attr(href) ") ";
				color: lighten($grey, 25%);
			}
		}
	}

	.home {
		@include size(auto);
		position: static;
		padding: 5rem 0;

		ul {
			padding-top: 5rem;
		}

		li {
			display: block;

			&:after {
				display: none;
			}

			a {
				line-height: 2em;
				border-width: 0;

				&:after {
					content: ": https://elomatreb.eu" attr(href);
					text-transform: none;
					letter-spacing: 0;
				}
			}
		}
	}
}
