---
layout: blog
permalink: "/blog/"
---
{% assign i = '.' %}{% for p in site.posts %}{% if p.categories contains 'blog' %}
	{% if i.size < 4 %}
	<article>
		<header>
			<h1><a href="{{ p.url }}">{{ p.title }}</a></h1>
			<p>Published <time datetime="{{ p.date | date_to_xmlschema }}">{{ p.date | date_to_long_string }}</time></p>
		</header>

		{{ p.excerpt }}

		<p class="continue"><a href="{{ p.url }}">Continue reading</a></p>
	</article>
	{% else %}
	<article class="small">
		<a href="{{ p.url }}">
			<time datetime="{{ p.date | date_to_xmlschema }}">{{ p.date | date_to_long_string }}</time>: <span class="title">{{ p.title }}</span>
		</a>
	</article>
	{% endif %}
{% capture i %}{{ i | append:'.' }}{% endcapture %}{% endif %}{% endfor %}
